h2 {
  color: rgb(0, 69, 139);
}
h3 {
  color: rgb(0, 69, 139);
}
p {
  color: rgb(139, 0, 116);
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
